<!DOCTYPE html>
<html>
  <head>
    <title>Sample29770</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header_bar">
      <%= render "header_bar" %>
    </div>
    <%= yield %>
  </body>
</html>
